/*----------- ELEMENTS COMMUN DE LA PAGE----------------*/

* {
    padding: 0; /* enleve les padding auto */
    margin: 0; /* enleve les marge auto sur la page */
    box-sizing: border-box; /* prend en compte margin-padding dans les calculs de largeur */
    font-family: 'Roboto', sans-serif; /* pour le texte de la page */
}

body {
    background-image: linear-gradient(to right, #7200D0, #C800C1); /* image de fond de la page */
}

h1, h2, h3 {
    font-family: Arial, sans-serif; /* police pour tous les titres */
    text-align: center;
}

a {
    text-decoration: none; /* enlever le surlignement des liens */
}

/*----------- TITRE PRINCIPAL DE LA PAGE---------------*/

.titreh1 {
    text-transform: uppercase; /* majuscule */
    margin-top: 1em; /* espace avec le haut de la page */
    color: white;
    font-size: 2em;
}

/*----------- ANIMATION TITRE---------------*/

h1 {
    animation: apparition 0.8s ease-out; /* déclaration de l'animation */
}

/* definir le comportement de l'animation */
@keyframes apparition {
    from { /* depart */
        opacity: 0;
        transform: translateY(-100px);
    }
    to { /* arriver */
        opacity: 1;
        transform: translateY(0px);
    }
}

/*-------------------BOUTON HAMBURGER-------------------*/

/* case pour ouvrir le menu */
.checkbox {
    display: none; /* Masquer la coche */
}

/* placer les 3 traits */
.bouton {
    background-color: white;
    height: 5em;
    width: 5em;
    border-radius: 50%; /* rond */
    position: fixed;
    top: 2.5vh; /*haut*/
    right: 5vw; /*droite*/
    z-index: 3; /*ordre des éléments*/
    box-shadow: 0 1em 3em black; /* ombre */
    cursor: pointer;
}

/* arrière plan */
.fondCouleur {
    height: 4em; /* prend tout l'ecran */
    width: 4em; /* prend tout l'ecran */
    position: fixed;
    border-radius: 50%; /* pour avoir la meme forme que le rond*/
    right: 5.5vw;
    background-color: lightblue;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); /* Apparition des éléments */
}

/*-------------------TRAIT HAMBURGER-------------------*/

/* icone hamburger */
.trait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*style des traits*/
.trait, .trait::before, .trait::after {
    width: 3em; /* largeur des traits */
    height: 0.125em; /* hauteur des traits */
    background-color: gray;
}

/*apparition trait */
.trait::before, .trait::after {
    content: ""; /* contenu vide */
    position: absolute;
}

/* placemnt trait du haut */
.trait::before {
    top: -0.8em;
}

/* placement trait du bas */
.trait::after {
    top: 0.8em;
}

/*-------------------NAVIGATION MENU HAMBURGER-------------------*/

/* lien du menu hamburger */
header nav a {
    color: black;
    font-weight: bold;
}

/* mettre les elements à l'interieur */
.nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -50vw; /* masquer sur la fenetre principale */
    width: 0; /* fermeture du menu */
    transition: all 0.8s; /* appaition pas direct */
}

/* placement des elements */
.nav_interieur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none; /* enlever les puces des listes */
    text-align: center; /* centrer le texte */
}

/* comportement des li */
.barre_nav {
    margin: 1.2em; /* espacer les li entre eux */
    font-size: 2.5em;
}

/*-------------------SURVOL-------------------*/

/* quand on survol les li */
.nav li a:hover {
    color: red;
    transition: color, 0.3s; /*couleur n'apparait pas immédiatemment */
    cursor: pointer; /* pour indiquer qu'on peut cliquer */
}

/*-------------------ANIMATION APPARITION-------------------*/

/* fond bleu */
.checkbox:checked ~ .fondCouleur {
    transform: scale(80); /* apparition du fond bleu */
}

/* elements de navigation */
.checkbox:checked ~ .nav {
    width: 100%;
    right: 0; /*sinon element pas centrer */
}

/*-------------------CROIX FERMETURE-------------------*/

/* trait du milieu */
.checkbox:checked + .bouton .trait {
    background-color: transparent; /* rendre invisible le trait du milieu */
}

/* trait du haut */
.checkbox:checked + .bouton .trait::before {
    top: 0;
    transform: rotate(135deg); /*rotation du trait*/
}

/* trait du bas */
.checkbox:checked + .bouton .trait::after {
    top: 0;
    transform: rotate(-135deg); /*rotation du trait */
}

/*-------------------FORMULAIRE-------------------*/

/*Formulaire + fond blanc */
#form {
    width: 62em; /* largeur du formulaire */
    height: 40em; /* hauteur du formulaire */
    margin: 3em auto; /* centre */
    border-radius: 50px;
    display: grid; /*grille*/
    grid-template-columns: 1fr 1fr; /* deux colonnes (image-champ) */
    grid-gap: 5vw; /*espace colonnes*/
    padding: 5vh 15px;
    background-color: #ffffff;
}

/*titre formulaire*/
#form_champ h2 {
    font-weight: bold;
    font-size: 2em;
}

/*-------------------IMAGE PC-------------------*/

/*div de l'image*/
#form_image {
    display: flex; /*conteneur*/
    justify-content: center; /*centrer l'image horizontalement*/
    align-items: center; /*alignement vertical*/
}

/*image*/
#form_image img {
    /* taille de l'image */
    width: 350px;
    height: 350px;
}

/*-------------------CHAMP DU FORMULAIRE-------------------*/

/*section droite du formulaire */
#form_champ {
    display: grid; /*grill*/
    grid-gap: 20px; /*espacement*/
    padding: 10% 5%;
}

/*conteneur champ email password*/
.input_container {
    /* Aligner l'icone dans le champ*/
    display: flex;
    align-items: center;
    padding-left: 20px;
    /*-----------*/
    background-color: #E5E5E5; /* Couleur de fond du champ */
    border-radius: 30px; /* Arrondir les champs */
    height: 3.75em;
}

/*Survol conteneur input*/
.input_container:hover {
    filter: brightness(90%); /*luminosité*/
    transition: filter, 0.5s;
}

/*champ du formulaire */
.input_champ {
    background-color: #E5E5E5;
    border: none; /* enlever les bordures */
    font-size: 1.3em;
    padding-left: 1.8em; /* espace avec les icone */
}

/*champs selectionner avec la souris*/
input:focus {
    outline: none; /* enlever la bordure quand on clique */
}

/*icone*/
i {
    color: #6b6b6b; /* couleur des icones */
}

/*-------------------BOUTON DU FORMULAIRE-------------------*/

/*champ bouton*/
#input_bouton {
    background-color: #1FCC44;
    padding-left: 0;
    font-weight: bold;
    color: white;
    text-transform: uppercase; /*majuscule*/
    height: 3.75em; /*hauteur du bouton*/
    border-radius: 30px; /* Arrondir */
    width: 100%; /* Bouton prenne toute la largeur du champ */
}

/*survol du bouton*/
#input_bouton:hover {
    background-color: #40e263;
    transition: background-color, 1s; /* délai de changement de couleur */
    cursor: pointer;
}

/*-------------------CREATION COMPTE-------------------*/

/*span*/
#compte {
    text-align: center;
}

/*lien de la span*/
#compte a {
    color: red;
    font-size: 1.3em;
    font-weight: bold;
}

/*-------------------FOOTER------------------*/

/*copyright*/
.copy {
    color: white;
    font-style: italic;
    text-align: center;
    margin-bottom: 4em;
}












